package utils

templ SkeletonTempl() {
	<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="utf-8"/>
			<title>Acide Template</title>
			<link href="/public/css/output.css" rel="stylesheet"/>
			<script src="/public/js/htmx.min.js" defer></script>
		</head>
		<body>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
